llmgrader/schemas/llmgrader_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="llmgrader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:token"/>
              <xs:choice>
                <xs:element name="semester" type="xs:token"/>
                <xs:element name="term" type="xs:token"/>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="units">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="section" type="xs:token"/>
                <xs:element name="unit">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name" type="xs:token"/>
                      <xs:element name="source" type="xs:token"/>
                      <xs:element name="destination" type="xs:token"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="assets" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="asset" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="source" type="xs:token"/>
                    <xs:element name="destination" type="xs:token"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
